/* RECIPES PAGE */

.recipes {
  background: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #0a2750;
  padding-bottom: 215px;
  padding-top: 100px;
}

.recipes__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
  max-width: 580px;
  margin: 0 0 0 80px;
}

.recipes__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #ffffff;
  line-height: 30px;
  max-width: 438px;
  margin: 24px 0 80px 80px;
}

.recipes__videos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 0;
}

.recipes__iframe {
  width: 480px;
  height: 272px;
  border: none;
}

.recipes__video-caption {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  width: 480px;
  padding: 24px 0 0 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
