/* RESERVATION PAGE */

.reservation {
  background: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #d9e7ff;
  padding-bottom: 120px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
}

.reservation__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
  text-align: center;
}

.reservation__form {
  margin-top: 80px;
}
