.page {
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
}

.header {
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #ffffff;
  height: 100vh;
}

.header__logo {
  display: block;
  width: 125px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.nav__links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  gap: 20px;
  position: relative;
  top: 30px;
  right: 80px;
  margin: 0;
  list-style: none;
}

.nav__link {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
}

.header__title {
  max-width: 729px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  margin: 0;
  position: relative;
  top: 252px;
  left: 80px;
}

.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  max-width: 683px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  position: relative;
  top: 280px;
  left: 80px;
}

.header__image {
  display: block;
  width: 646px;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 124px;
  right: 5px;
  max-width: 100%;
}

.header__footer {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 40px;
  left: 80px;
}

.header__paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  margin: 0;
}

.header__address {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  margin: 0;
  position: absolute;
  bottom: 40px;
  right: 80px;
}

.content {
}

.recipes {
  background: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #0a2750;
  height: 100vh;
}

.recipes__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
  max-width: 580px;
  margin: 0;
  position: relative;
  top: 100px;
  left: 80px;
}

.recipes__subtitle {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #ffffff;
  line-height: 30px;
  max-width: 438px;
  margin: 0;
  position: relative;
  top: 124px;
  left: 80px;
}

.recipes__videos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 215px;
}

.recipes__iframe {
}

.recipes__video-caption {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  width: 480px;
  margin: 24px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.reservation {
  background: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #d9e7ff;
  height: 100vh;
}

.reservation__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
  text-align: center;
  position: relative;
  top: 100px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.reservation__form {
  margin-top: 180px;
}

.form__fieldset {
  border: none;
  max-width: 385px;
  padding: 0;
}

.form__label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}

.form__input {
  border-radius: 4px;
  border-style: solid;
  border-color: #838383;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  margin: 0;
  padding: 0;
  height: 60px;
  width: 385px;
}

.form__button {
  color: #ffffff;
  background-color: #2f80ed;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border: none;
  border-radius: 4px;
  height: 60px;
  width: 385px;
}

.form__button:hover {
  opacity: 70%;
  transition: 1s;
}

.form__label-checkbox {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}

.form__checkbox {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 2px;
  width: 20px;
  height: 20px;
  margin-right: 12px;
}
